In [1]:
# this program aims to harmonize the databases of different company in one data lake

In [1]:
import pandas as pd

In [2]:
# Import databases

airFrance_db = pd.read_csv('backup/airFrance_db.csv')
hermes_db = pd.read_csv('backup/hermes_db.csv')
richemont_db = pd.read_csv('backup/richemont_db.csv')
sanofi_db = pd.read_csv('backup/sanofi_db.csv')

In [4]:
airFrance_db.head(2)

,Unnamed: 0,Position,link,Company,Department,Location,desc
0,0,STAGE – Développeur Web Full Stack H/F,/offre-de-emploi/emploi-stage-developpeur-web-...,Air France,NaN,"[<li>Convention de stage</li>, <li>Occitanie</...",\n\n Informations générales\n ...
1,1,STAGE - Ingénierie Analyse des Paramètres Enre...,/offre-de-emploi/emploi-stage-ingenierie-analy...,Air France,NaN,"[<li>Convention de stage</li>, <li>Ile-de-Fran...",\n\n Informations générales\n ...

In [5]:
hermes_db.head(2)

,Unnamed: 0,Position,link,Company,Department,Location,desc
0,0,CDI - Chargé de formation interne et communica...,/fr/les-opportunites/146944fr-cdi-charge-de-fo...,Hermes,NaN,"[['CDI'], [''], ['France'], [''], ['Bobigny']]",NaN
1,1,Department Manager - Harrods Accessories,/fr/les-opportunites/147049fr-department-manag...,Hermes,NaN,"[['CDI'], [''], ['Royaume-Uni'], [''], ['Londo...",NaN

In [6]:
richemont_db.head(2)

,Unnamed: 0,Position,link,Company,Department,Location,desc
0,0,Correspondant Logistique sur la Base de Landiv...,/offre-de-emploi/emploi-correspondant-logistiq...,Dassault Aviation,NaN,"[<li>Réf. : 2020-6622</li>, <li>21/11/2020</li...",\n\n Informations générales\n ...
1,1,Apprenti Chaudronnier H/F,/offre-de-emploi/emploi-apprenti-chaudronnier-...,Dassault Aviation,NaN,"[<li>Réf. : 2020-6609</li>, <li>21/11/2020</li...",\nLocalisation de l'offre\n\tLocalisation\nFra...

In [7]:
sanofi_db.head(2)

,Unnamed: 0,Position,link,Company,Department,Location,desc
0,0,Regulatory Site Officer External Supply QA,/emploi/waltham/regulatory-site-officer-extern...,Sanofi,NaN,"Waltham, Massachusetts",POSITION OVERVIEWRegulatory Site Officer Exter...
1,1,HSE Analyst,/emploi/ocoyoacac/hse-analyst/20874/18068424,Sanofi,NaN,"Ocoyoacac, Mexique",ANALISTA DE HSEOCOYOACACSanofi es uno de los p...