In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel('offers_unlabeled.xlsx')

In [9]:
df = df.drop(['Unnamed: 0'], axis=1)

In [10]:
df.head()

,name,link,company,function,details,desc,createdAt,updatedAt,lang,contract_type,country,region,departement,ville,clean_desc,isLiked
0,Administrateur-ice des Vente Plateforme Logist...,https://joinus.saint-gobain.com/fr/fra/spc/p/2...,Saint Gobain,NaN,FRA01793 /*/ Administrateur-ice des Vente Plat...,Retour à la liste des offres Référence : FRA01...,2021-01-25 19:46:15.507+01,2021-01-25 19:46:15.507+01,fr,CDI,France,[],[],[],"[(9, 'cdi'), (7, 'points'), (7, 'france'), (6,...",NaN
1,Responsable Ressources Humaines Siège,https://joinus.saint-gobain.com/fr/fra/hr/p/46...,Saint Gobain,NaN,FRA01782 /*/ Responsable Ressources Humaines -...,Retour à la liste des offres Référence : FRA01...,2021-01-25 19:46:14.045+01,2021-01-25 19:46:14.045+01,fr,CDI,France,Ile De France,[],[],"[(10, 'france'), (8, 'humaines'), (7, 'rh'), (...",No
2,CHEF DE PRODUIT SENIOR PRODUITS FINIS CHEF D...,https://jobs.richemont.com/Chloe/job/paris-CHE...,Chloé,Marketing,"paris, 75, FR",Reference Code: 28999 CHEF DE PRODUIT SENIOR P...,2021-01-25 19:46:14.024+01,2021-01-25 19:46:14.024+01,fr,CDD,[],[],[],Paris,"[(9, 'développement'), (7, 'produit'), (5, 'co...",No
3,-Responsable Industriel d'Offre Nucléaire,https://www.naval-group.com/fr/talents/offer/P...,Naval Group,"Commerce, marketing , Offre","Commerce, marketing , Offre /*/ Durée indéterm...","Organisation NOS PRODUITS SONT UNIQUES, VOTRE ...",2021-01-25 19:02:36.968+01,2021-01-25 19:02:36.968+01,fr,CDI,France,[],[],Cherbourg,"[(7, 'naval'), (5, 'offre'), (5, 'nucléaire'),...",No
4,Responsable projet / Gestionnaire de Configur...,https://www.naval-group.com/fr/talents/offer/P...,Naval Group,Programmes,"Programmes /*/ Durée indéterminée France , Che...",Organisation Naval Group is a European leader ...,2021-01-25 19:02:35.424+01,2021-01-25 19:02:35.424+01,fr,CDI,France,[],[],Cherbourg,"[(13, 'naval'), (11, 'group'), (8, 'and'), (5,...",No

In [11]:
df['company'].value_counts()

Saint Gobain          364
Framatome             340
Fnac Darty            291
Nexter                200
MBDA                  182
Thales                160
Naval Group           157
Alstom                125
LVMH                   99
Dassault Aviation      81
Hermes                 66
Safran                 57
EDF                    54
RATP Dev               37
L'Oreal                35
Engie                  21
Sanofi                 18
Cartier                18
Van Cleef & Arpels     16
Motul                  13
Air France             12
Lisi Aerospace         12
Chloé                  11
Watchfinder             5
Richemont               3
Buccellati              3
Alaïa                   2
Baume & Mercier         1
Name: company, dtype: int64