In [ ]:
# this program aims to harmonize the databases of different company in one data lake

In [1]:
import pandas as pd

In [8]:
# Import databases

airFrance_db = pd.read_csv('backup/airFrance_db.csv')
hermes_db = pd.read_csv('backup/hermes_db.csv')
richemont_db = pd.read_csv('backup/richemont_db.csv')
sanofi_db = pd.read_csv('backup/sanofi_db.csv')
dassaultAviation_db = pd.read_csv('backup/dassaultAviation_db.csv')

In [ ]:
# Define Data lake structure
# Company  |  Position  |  Link  |  desc  |  location

In [9]:
airFrance_db = airFrance_db.drop(columns=['Unnamed: 0', 'Department'])
airFrance_db['contract_type'] = airFrance_db['Location'].apply(lambda x : x.split(',')[0])
airFrance_db['Location'] = airFrance_db['Location'].apply(lambda x : x.split(',')[1])
airFrance_db['contract_type'] = airFrance_db['contract_type'].apply(lambda x : x.replace('<li>', '').replace('</li>', '').replace('[', ''))
airFrance_db['Location'] = airFrance_db['Location'].apply(lambda x : x.replace('<li>', '').replace('</li>', '').replace(']', ''))
airFrance_db.head(2)

,Position,link,Company,Location,desc,contract_type
0,STAGE – Développeur Web Full Stack H/F,/offre-de-emploi/emploi-stage-developpeur-web-...,Air France,Occitanie,\n\n Informations générales\n ...,Convention de stage
1,STAGE - Ingénierie Analyse des Paramètres Enre...,/offre-de-emploi/emploi-stage-ingenierie-analy...,Air France,Ile-de-France,\n\n Informations générales\n ...,Convention de stage

In [10]:
hermes_db = hermes_db.drop(columns=['Unnamed: 0', 'Department'])
hermes_db['contract_type'] = hermes_db['Location'].apply(lambda x : x.split(',')[0])
hermes_db['Location'] = hermes_db['Location'].apply(lambda x : x.split(',')[4])
hermes_db['contract_type'] = hermes_db['contract_type'].apply(lambda x : x.replace("'", '').replace('[', ''))
hermes_db['Location'] = hermes_db['Location'].apply(lambda x : x.replace("'", '').replace(']', ''))
hermes_db.head(2)

,Position,link,Company,Location,desc,contract_type
0,CDI - Chargé de formation interne et communica...,/fr/les-opportunites/146944fr-cdi-charge-de-fo...,Hermes,Bobigny,20.11.2020CDI - Chargé de formation interne et...,CDI
1,Department Manager - Harrods Accessories,/fr/les-opportunites/147049fr-department-manag...,Hermes,London,20.11.2020Department Manager - Harrods Accesso...,CDI

In [11]:
richemont_db = richemont_db.drop(columns=['Unnamed: 0', 'Department'])
richemont_db['contract_type'] = ''
richemont_db.head(2)

,Position,link,Company,Location,desc,contract_type
0,Stagiaire Coordinateur/rice Productions Editor...,/Alaia/job/Paris-Stagiaire-Coordinateurrice-Pr...,Alaïa,"Paris, 75, FR","Créée en 1983, la Maison Azzedine Alaïa, sous ...",
1,TECHNICIENNE PRODUIT (H/F),/Chloe/job/paris-TECHNICIENNE-PRODUIT-%28HF%29...,Chloé,"paris, 75, FR",Poste à pourvoir en CDD dès que possible jusqu...,

In [12]:
sanofi_db = sanofi_db.drop(columns=['Unnamed: 0', 'Department'])
sanofi_db['contract_type'] = ''
sanofi_db.head(2)

,Position,link,Company,Location,desc,contract_type
0,Regulatory Site Officer External Supply QA,/emploi/waltham/regulatory-site-officer-extern...,Sanofi,"Waltham, Massachusetts",POSITION OVERVIEWRegulatory Site Officer Exter...,
1,HSE Analyst,/emploi/ocoyoacac/hse-analyst/20874/18068424,Sanofi,"Ocoyoacac, Mexique",ANALISTA DE HSEOCOYOACACSanofi es uno de los p...,

In [13]:
dassaultAviation_db = dassaultAviation_db.drop(columns=['Unnamed: 0', 'Department'])
dassaultAviation_db['contract_type'] = dassaultAviation_db['Location'].apply(lambda x : x.split(',')[2])
dassaultAviation_db['Location'] = dassaultAviation_db['Location'].apply(lambda x : x.split(',')[3])
dassaultAviation_db['contract_type'] = dassaultAviation_db['contract_type'].apply(lambda x : x.replace('<li>', '').replace('</li>', ''))
dassaultAviation_db['Location'] = dassaultAviation_db['Location'].apply(lambda x : x.replace('<li class="noBorder">', '').replace('</li>', '').replace(']', ''))
dassaultAviation_db.head(2)

,Position,link,Company,Location,desc,contract_type
0,Consultant technico-fonctionnel SAP FI/CO H/F,/offre-de-emploi/emploi-consultant-technico-fo...,Dassault Aviation,Saint-Cloud (92),\nLocalisation de l'offre\n\tLocalisation\nFra...,CDI
1,Correspondant Logistique sur la Base de Landiv...,/offre-de-emploi/emploi-correspondant-logistiq...,Dassault Aviation,Saint-Cloud (92),\nLocalisation de l'offre\n\tLocalisation\nFra...,CDI

In [14]:
df = pd.concat([airFrance_db, hermes_db, richemont_db, sanofi_db, dassaultAviation_db], ignore_index=True)

In [17]:
df.to_json('raw_db.json', orient='index')